<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body style="font-family: sans-serif;">
    <div style="display: block; margin: auto; max-width: 800px;" class="main">
      @!section('content')
    </div>
    <style>
      .main { background-color: white; }
      h1 { font-size: 18px; font-weight: bold; margin-top: 20px; }
    </style>
  </body>
</html>
