# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env.development

# The development sqlite file
database/*.sqlite

# Prettier config
./idea
# Ignore artifacts:
build
coverage
