@layout('master')

@section('content')
      <h1>Olá, {{ name }}</h1>

      <p>Uma recuperação de senha foi solicitada para o e-mail: {{ email }}.</p>
      <p>Caso você não tenha solicitado, sugerimos a troca de senha para garantir sua segurança.</p>

      <p>Clique <a href={{link}}>aqui</a> para alterar sua senha ou utilize o token: {{ token }}</p>
@endsection
