Olá, {{name}}

Uma recuperação de senha foi solicitada para o e-mail: {{ email }}.Caso você não tenha solicitado, sugerimos a troca de senha para garantir sua segurança.

Para prosseguir com a recuperação, acesso o link {{link}}ou utilize o token: {{ token }}.
